<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>fish</title>
  </head>
  <body>
    <section>
      <div class="container">
        <!-- <div>
          <input type="text" (keyup)="search()" [(ngModel)]="searchValue" />
          <div class="search-results">
            <div class="search-result" *ngFor="let result of results | async">
              <div class="deal-box">
                <div>
                  <img src="{{ result.p_pic }}" class="img-fluid" alt="" />
                </div>
                <h2>{{ result.p_name }}</h2>
                <div class="button">
                  <a class="deal-btn" (click)="detail(result.id)">รายละเอียด</a>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="head-type fish">สินค้าประเภทปลา</div>
        <div class="section mt-5">
          <div class="row">
            <div class="col-md-3" *ngFor="let fish of fisher">
              <div class="deal-box">
                <div>
                  <img src="{{ fish.p_pic }}" class="img-fluid" alt="" />
                </div>
                <h2>{{ fish.p_name }}</h2>
                <div class="button">
                  <a class="deal-btn" (click)="detail(fish.id)">รายละเอียด</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
