<footer class="footer-sec mt-5 mx-auto">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 footer-widget">
        <h4>About Us</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, ipsam.
        </p>
        <div class="footer-logo">
          <h3 class="text-white">Burger Palace</h3>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 footer-widget">
        <h4>Contact Info</h4>
        <div class="footer-address">
          <p>Your Address Goes Here</p>
          <span>Phone: +55 61 123 456 78</span>
          <span>email: test@info.com</span>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 footer-widget">
        <h4>Important Links</h4>
        <ul>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6 mb-4 mb-xl-0 footer-widget">
        <h4>Newsletter</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <div class="form-wrap">
          <form>
            <div class="input-group">
              <input
                type="email"
                class="form-control"
                name="Email"
                placeholder="Email Address"
              />
              <div class="input-group-append">
                <button class="btn click-btn" type="submit">
                  <i class="fab fa-telegram-plane"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      class="
        footer-bottom
        row
        align-items-center
        text-center text-lg-left
        no-gutters
      "
    >
      <p class="footer-text m-0 col-lg-8 col-md-12">
        Copyright&copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        All rights Reserved Bla bla this is made
        <i class="fas fa-heart" aria-hidden="true"></i>
        by Lorem Ipsum
      </p>
    </div>
  </div>
</footer>
