<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Store</title>
  </head>
  <body>
    <div class="container">
      <select #mySelect (change)="change(mySelect.value)">
        <option [value]="country" *ngFor="let country of countries">
          {{ country }}
        </option>
      </select>

      <table>
        <tr>
          <th>รูป</th>
          <th>ชื่อผู้ประกอบการ</th>
          <th>ที่อยู่</th>
          <!-- <th>อำเภอ</th> -->
          <th>เบอร์โทร</th>
          <th>ข้อมูลเพิ่มเติม</th>
        </tr>

        <tr *ngFor="let group of storer">
          <ng-container *ngIf="select == group.g_district">
            <!-- <div>
            <h2 (click)="test(group.g_subdistrict)">{{ group.g_subdistrict }}</h2>
          </div> -->
            <!-- <div *ngIf="testt === group.g_subdistrict"></div> -->

            <td>
              <img src="{{ group.g_pic }}" alt="" />
            </td>
            <td>{{ group.g_name }}</td>
            <td>{{ group.g_address }}</td>
            <!-- <td>{{ group.g_district }}</td> -->
            <td>{{ group.g_tel }}</td>

            <td class="arrow">
              <a (click)="detailstore(group.id)">ดูรายละเอียด</a>
            </td>
          </ng-container>

          <ng-container *ngIf="!select">
            <td>
              <img src="{{ group.g_pic }}" alt="" />
            </td>
            <td>{{ group.g_name }}</td>
            <td>{{ group.g_address }}</td>
            <!-- <td>{{ group.g_district }}</td> -->
            <td>{{ group.g_tel }}</td>

            <td class="arrow">
              <a (click)="detailstore(group.id)">ดูรายละเอียด</a>
            </td>
          </ng-container>
        </tr>
      </table>
    </div>
  </body>
</html>
