<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/332a215f17.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <title>อาหารทะเลแปรรูปพื้นบ้าน</title>
  </head>
  <body>
    <section>
      <div id="slider">
        <figure>
          <img src="../../assets/img/first.png" />
          <img src="../../assets/img/second.png" />
          <img src="../../assets/img/third.png" />
          <img src="../../assets/img/bg1.png" />
        </figure>
      </div>
    </section>

    <div class="about mt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="about-img">
              <div class="row">
                <div class="col-6">
                  <img src="../../assets/img/about-img1.jpg" alt="" />
                </div>
                <div class="col-6">
                  <img src="../../assets/img/type-squid.jpg" alt="" />
                </div>
                <div class="col-6">
                  <img src="../../assets/img/about-img3.jpg" alt="" />
                </div>
                <div class="col-6">
                  <img src="../../assets/img/about-img4.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-7">
            <div class="about-detail">
              <i class="fas fa-utensils"></i>
              <h2>อาหารทะเลแปรรูปพื้นบ้าน</h2>
              <h3>จังหวัดระนอง</h3>
              <h4>
                แหล่งรวบรวมผลิตภัณฑ์อาหารทะเลแปรรูปพื้นบ้านจากจังหวัดระนอง
              </h4>
            </div>
            <div class="button">
              <a href="product"><button>ดูเพิ่มเติม ></button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section>
      <div class="blog-posts">
        <div class="post">
          <img src="../../assets/img/about-img1.jpg" alt="" class="post-img" />
          <div class="post-content">
            <h3>ผลิตภัณฑ์ประเภท กุ้ง ปู หอย</h3>
            <div class="button-type">
              <a href="shrimp"><button>ดูเพิ่มเติม ></button></a>
            </div>
          </div>
        </div>

        <div class="post">
          <img src="../../assets/img/type-fish.jpg" alt="" class="post-img" />
          <div class="post-content">
            <h3>ผลิตภัณฑ์ประเภท ปลา</h3>
            <div class="button-type">
              <a href="fish"><button>ดูเพิ่มเติม ></button></a>
            </div>
          </div>
        </div>

        <div class="post">
          <img src="../../assets/img/type-squid.jpg" alt="" class="post-img" />
          <div class="post-content">
            <h3>ผลิตภัณฑ์ประเภท หมึก</h3>
            <div class="button-type">
              <a href="squid"><button>ดูเพิ่มเติม ></button></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <footer class="footer-sec mt-5 mx-auto">
    <div class="container">
      <div
        class="
          footer-bottom
          row
          align-items-center
          text-center text-lg-left
          no-gutters
        "
      >
        <p class="footer-text m-0 col-lg-8 col-md-12">
          Copyright&copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          <i class="fas fa-heart" aria-hidden="true"></i>
          by Kittikhun
        </p>
      </div>
    </div>
  </footer>
</html>
