<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div>
      <app-dashboard></app-dashboard>
    </div>

    <div style="margin-left: 20%; padding: 1px 16px; height: 1000px">
      <app-store-order></app-store-order>
      <div class="container">
        <h2>ตารางรายชื่อผู้ประกอบการ</h2>
        <!-- <div class="addproduct">
        <button
          class="btn btn-outline-success"
          type="button"
          [routerLink]="['/order']"
        >
          <i class="bi bi-plus-circle">เพิ่มสินค้า</i>
        </button>
      </div> -->
        <table>
          <tr>
            <th>ชื่อผู้ประกอบการ</th>
            <th>รูปสินค้า</th>
            <th>อำเภอ</th>
            <th>สินค้า</th>
            <th>เบอร์โทร</th>
            <th></th>
            <th></th>
          </tr>
          <ng-container *ngFor="let store of storetlist">
            <tr>
              <td>{{ store.g_name }}</td>
              <td>
                <img src="{{ store.g_pic }}" alt="" />
              </td>
              <td>{{ store.g_district }}</td>
              <td>{{ store.g_product }}</td>
              <td>{{ store.g_tel }}</td>
              <td>
                <a (click)="onEdit(store)">
                  <img
                    class="icon"
                    src="../../../assets/icon/pencil-square.svg"
                /></a>
              </td>
              <td>
                <a (click)="onDelete(store.id)"
                  ><img class="icon" src="../../../assets/icon/trash.svg"
                /></a>
              </td>
            </tr>
          </ng-container>
        </table>
      </div>
    </div>
  </body>
</html>
